<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>


  <div class="form-group mb-3">
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>

<%= fields_for(@blog_technologies) do |blog_technology| %>
    <div class="form-group mb-3">
      <%= blog_technology.label "Technologies" %>
      <%= collection_select(:technologies, :id, Technology.all, :id, :name, {}, {:multiple =>  true}) %>
    </div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
