<div class="container">
  <div class="row">
    <div class="heading">
      <h1>Blogs</h1>
      <p id="notice"><%= notice %></p>
      <%= button_to "Add", new_blog_path, method: :get, class: "btn btn-outline-primary" %>
    </div>
    <div class="col">

      <table class="table align-middle table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Summary</th>
            <th scope="col">Technologies</th>
          </tr>
        </thead>

        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= link_to  blog.title, blog_path(blog.id) %></td>
              <td><%= image_tag(blog.image, class: "project-image", alt: "blog image")%></td>
              <td><%= blog.summary %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    
    </div>
  </div>
</div>