<p id="notice"><%= notice %></p>

<h1>Hello <%= @user.first_name %></h1>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

<br><br>
<h2>Technologies</h2>

<%= link_to  "Add Technology", new_technology_path %>

<% @user.technologies.each do |technology| %>
  <p><%= link_to  technology.name, technology_path(technology) %></p>
<% end %>

<br><br>

<h2>Projects</h2>
<%= link_to  "Add Project", new_project_path %>
<% @user.projects.each do |project|%>

  <p><%= link_to  project.name, project_path(project) %></p>

<% end %>

<br><br>

<h2>Blogs</h2>

<%= link_to  "Add Blog", new_blog_path %>

<% @user.blogs.each do |blog| %>
  <p><%= link_to  blog.title, blog_path(blog) %></p>
<% end %>

<br><br>


<h2>Links</h2>

<%= link_to  "Add Link", new_link_path %>

<% @user.links.each do |link| %>
  <p><%= link_to  link.name, link_path(link) %></p>
<% end %>

<br><br>

<h2>Experiences</h2>

<%= link_to  "Add Experience", new_experience_path %>

<% @user.experiences.each do |experience| %>
  <p><%= link_to  experience.title, experience_path(experience) %></p>
<% end %>

<br><br>

<h2>Educations</h2>

<%= link_to  "Add Education", new_education_path %>

<% @user.educations.each do |education| %>
  <p><%= link_to  education.title, education_path(education) %></p>
<% end %>