<p id="notice"><%= notice %></p>

<h1>Hello <%= @user.first_name %></h1>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

<br><br>

<h2>Projects</h2>
<%= link_to  "Add Project", new_project_path %>
<% @user.projects.each do |project|%>

  <p><%= link_to  project.name, project_path(project) %></p>

<% end %>

<br><br>

<h2>Technologies</h2>

<%= link_to  "Add Technology", new_technology_path %>

<% @user.technologies.each do |technology| %>
  <p><%= link_to  technology.name, technology_path(technology) %></p>
<% end %>

