<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group mb-3">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :github %>
    <%= form.text_field :github %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :deployed %>
    <%= form.check_box :deployed %>
  </div>

<%= fields_for(@project_technologies) do |project_technology| %>
    <div class="form-group mb-3">
      <%= project_technology.label "Technologies" %>
      <%= collection_select(:technologies, :id, Technology.all, :id, :name, {}, {:multiple =>  true}) %>
    </div>
<% end %>


  <div class="form-group mb-3">
    <%= form.submit %>
  </div>


<% end %>
