<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Deployed:</strong>
  <%= @project.deployed %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', user_path(@current_user.id) %>
