<div class="container">
  <div class="project-show-container">
    <div class="row">
        <div class="heading">
          <h1><%= @project.name %></h1>
          <%= button_to "Edit", edit_project_path, method: :get, class: "btn btn-outline-primary" %>
          <%= button_to "Delete", @project, method: :destroy, class: "btn btn-outline-danger" %>
        </div>
        <div class="col">
          <%= image_tag(@project.image, class: "img-thumbnail", alt: "project image")%>
        </div>
        <div class="col">
          <% if @project.deployed %>
            <h2><%= link_to  "Deployed", @project.address, target: :_blank %></h2>
          <% end %>
            <h2><%= link_to  "GitHub", @project.github, target: :_blank %></h2>
        </div>
        <p></p>
        <h2>Summary: </h2>
        <p><%= @project.summary %></p>
    </div>
  </div>
</div>
