<%= form_with(model: experience, local: true) do |form| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
        <% experience.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :start_date %>
    <%= form.text_field :start_date %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= fields_for(@experience_technologies) do |experience_technology| %>
    <div class="form-group mb-3">
      <%= experience_technology.label "Technologies" %>
      <%= collection_select(:technologies, :id, Technology.all, :id, :name, {}, {:multiple =>  true}) %>
    </div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
