<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @experience.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @experience.end_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<h2>Technologies</h2>

<% @experience.technologies.each do |technology| %>
  <p><%= link_to  technology.name, technology_path(technology) %></p>
<% end %>
<br><br>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', @current_user %>
