<div class="container">
    <div class="show-container">
      <div class="row">
        <div class="heading">
          <h2><%= @experience.title %></h2>
          <%= button_to "Edit", edit_experience_path, method: :get, class: "btn btn-outline-primary" %>
          <%= button_to "Delete", @experience, :method => "delete", class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="col">
          <p>Started: <%= @experience.start_date %></p>
          <p>Ended: <%= @experience.end_date %></p>
          <p>Technologies:</p>
          <% @experience.technologies.each do |technology| %>
            <p><%= technology.name %></p>
          <% end %>
        </div>
        <div class="col">
          <h4>Description:</h4>
          <p><%= @experience.description %></p>
        </div>
    </div>
  </div>
</div>
