





<div class="container">
  <div class="row">
    <div id="links-headding">
      <h1>Links</h1>
      <p id="notice"><%= notice %></p>
      <%= button_to "Add", new_link_path, method: :get, class: "btn btn-outline-primary", id: 'new-link-button' %>
      </div>
    <div class="col">

      <table class="table align-middle table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Image</th>
            <th scope="col">Edit/Remove</th>

          </tr>
        </thead>

        <tbody>
          <% @links.each do |link| %>
            <tr scope="row">
              <td><%= link.name %></td>
              <td><%= link_to  link.address, link.address, target: :_blank %></td>
              <td><%= image_tag(link.image, class: "link-image", alt: "link image")%></td>
              <td><%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Remove', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      

      <br>

    </div>
</div>

