<div class="container">
  <div class="row">
      <p id="notice"><%= notice %></p>

      <h1>Links</h1>
    <div class="col">
      <div class="section">
      <%= link_to 'New Link', new_link_path %>

      <table class="table align-middle table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Image</th>

          </tr>
        </thead>

        <tbody>
          <% @links.each do |link| %>
            <tr>
              <td><%= link_to link.name, link %></td>
              <td><%= link_to  link.address, link.address, target: :_blank %></td>
              
              <td><%= image_tag(link.image, class: "link-image", alt: "link image")%></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      

      <br>

    </div>
  </div>
</div>

