<p id="notice"><%= notice %></p>

<p>
  <strong>End date:</strong>
  <%= @education.end_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @education.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @education.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @education.user_id %>
</p>

<h2>Technologies</h2>

<% @education.technologies.each do |technology| %>
  <p><%= link_to  technology.name, technology_path(technology) %></p>
<% end %>
<br><br>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', @current_user %>
