<div class="container">
    <div class="show-container">
      <div class="row">
        <div class="heading">
          <h2><%= @education.title %></h2>
          <%= button_to "Edit", edit_education_path, method: :get, class: "btn btn-outline-primary" %>
          <%= button_to "Delete", @education, :method => "delete", class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="col">
          <p>Graduated: <%= @education.end_date %></p>
          <p>Technologies:</p>
          <% @education.technologies.each do |technology| %>
            <p><%= technology.name %></p>
          <% end %>
        </div>
        <div class="col">
          <h4>Description:</h4>
          <p><%= @education.description %></p>
        </div>
    </div>
  </div>
</div>
